:root {
  --yellow: #fae100;
  --horizontal-space: 25px;
  --gray-text: rgba(0, 0, 0, 0.4);
  --gray-line: rgba(0, 0, 0, 0.2);
  --line-gray: 1px solid rgba(0, 0, 0, 0.2);
  --line-gray-low: 1px solid rgba(0, 0, 0, 0.05);
}
