.settings-list {
  margin: 0px var(--horizontal-space);
  padding-bottom: 10px;
  border-bottom: var(--line-gray);
}
.settings__setting {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 20px;
  border-bottom: var(--line-gray-low);
}
.settings__setting:last-child {
  border-bottom: none;
}
.settings__setting-column i {
  width: 35px;
  margin-right: 10px;
  text-align: center;
}
.settings__setting-column:last-child {
  margin-left: auto;
  opacity: 0.5;
}
