.alt-header {
  display: flex;
  padding: 38px var(--horizontal-space);
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.alt-header__column {
  font-size: 22px;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}
