.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 19px 47px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  color: white;
  background-color: tomato;
  display: flex;
  width: 19px;
  height: 19px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 13px;
  position: absolute;
  left: 14px;
  bottom: 12px;
}

.nav__notification_sm {
  background-color: tomato;
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 13px;
  position: absolute;
  left: 23px;
  bottom: 23px;
}
